$background-primary: $neutrals-100;
$background-button-secondary-default: $accent-100;
$background-alternative: $neutrals-1000;
$background-accent: $accent-100;
$background-button-main-default: $accent-600;
$background-button-main-hover: $accent-500;
$background-button-main-pressed: $accent-500;
$background-button-main-disabled: $accent-600;
$text-primary: $neutrals-1000;
$text-secondary: $neutrals-700;
$text-tertiary: $neutrals-600;
$text-accent: $accent-600;
$text-alternative-primary: $neutrals-100;
$text-success: $success-500;
$text-warning: $warning-500;
$border-seconday: $neutrals-500;
$border-tertiary: $neutrals-200;
$border-accent: $accent-600;
$border-alternative: $neutrals-100;
$border-success: $success-500;
$text-error-primary: $error-500;
$border-warning: $warning-500;
$border-error: $error-500;
$graphic-primary: $neutrals-1000;
$graphic-secondary: $neutrals-700;
$graphic-tertiary: $neutrals-600;
$graphic-accent: $accent-600;
$graphic-alternative-primary: $neutrals-100;
$graphic-success: $success-500;
$graphic-warning: $warning-500;
$overlay-primary: $black-overlay-90;
$background-success: $success-100;
$background-warning: $warning-100;
$background-error: $error-100;
$background-button-secondary-hover: $accent-200;
$background-button-secondary-pressed: $accent-200;
$background-button-secondary-disabled: $accent-100;
$background-secondary: $neutrals-200;
$background-tertiary: $neutrals-300;
$border-primary: $neutrals-300;
$text-error-tertiary: $error-300;
$background-button-red-default: $error-100;
$background-button-red-hover: $error-200;
$background-button-red-pressed: $error-300;
$background-button-red-disabled: $error-100;
$text-error-secondary: $error-400;
$text-brand-primary: $accent-600;
$background-button-tertiary-default: $neutrals-200;
$background-button-tertiary-hover: $neutrals-300;
$background-button-tertiary-pressed: $neutrals-500;
$background-button-tertiary-disabled: $neutrals-200;
$text-brand-secondary: $accent-500;
$text-brand-tertiary: $accent-400;
$graphic-brand-primary: $accent-600;
$graphic-brand-secondary: $accent-500;
$graphic-brand-tertiary: $accent-400;
$graphic-error-primary: $error-500;
$graphic-error-secondary: $error-400;
$graphic-error-tertiary: $error-300;
$background-button-alternative-default: $neutrals-100;
$background-button-alternative-hover: $white-overlay-90;
$background-button-alternative-pressed: $white-overlay-80;
$background-button-alternative-disabled: $neutrals-100;
$text-alternative-secondary: $white-overlay-80;
$text-alternative-tertiary: $white-overlay-40;
$graphic-alternative-secondary: $white-overlay-80;
$graphic-alternative-tertiary: $white-overlay-40;
$overlay-secondary: $black-overlay-70;
$overlay-tertiary: $black-overlay-30;
