.colour-tokens_light {
  --background-primary: var(--neutrals-100);
  --background-button-secondary-default: var(--accent-100);
  --background-alternative: var(--neutrals-1000);
  --background-accent: var(--accent-100);
  --background-button-main-default: var(--accent-600);
  --background-button-main-hover: var(--accent-500);
  --background-button-main-pressed: var(--accent-500);
  --background-button-main-disabled: var(--accent-600);
  --text-primary: var(--neutrals-1000);
  --text-secondary: var(--neutrals-700);
  --text-tertiary: var(--neutrals-600);
  --text-accent: var(--accent-600);
  --text-alternative-primary: var(--neutrals-100);
  --text-success: var(--success-500);
  --text-warning: var(--warning-500);
  --border-seconday: var(--neutrals-500);
  --border-tertiary: var(--neutrals-200);
  --border-accent: var(--accent-600);
  --border-alternative: var(--neutrals-100);
  --border-success: var(--success-500);
  --text-error-primary: var(--error-500);
  --border-warning: var(--warning-500);
  --border-error: var(--error-500);
  --graphic-primary: var(--neutrals-1000);
  --graphic-secondary: var(--neutrals-700);
  --graphic-tertiary: var(--neutrals-600);
  --graphic-accent: var(--accent-600);
  --graphic-alternative-primary: var(--neutrals-100);
  --graphic-success: var(--success-500);
  --graphic-warning: var(--warning-500);
  --overlay-primary: var(--black-overlay-90%);
  --background-success: var(--success-100);
  --background-warning: var(--warning-100);
  --background-error: var(--error-100);
  --background-button-secondary-hover: var(--accent-200);
  --background-button-secondary-pressed: var(--accent-200);
  --background-button-secondary-disabled: var(--accent-100);
  --background-secondary: var(--neutrals-200);
  --background-tertiary: var(--neutrals-300);
  --border-primary: var(--neutrals-300);
  --text-error-tertiary: var(--error-300);
  --background-button-red-default: var(--error-100);
  --background-button-red-hover: var(--error-200);
  --background-button-red-pressed: var(--error-300);
  --background-button-red-disabled: var(--error-100);
  --text-error-secondary: var(--error-400);
  --text-brand-primary: var(--accent-600);
  --background-button-tertiary-default: var(--neutrals-200);
  --background-button-tertiary-hover: var(--neutrals-300);
  --background-button-tertiary-pressed: var(--neutrals-500);
  --background-button-tertiary-disabled: var(--neutrals-200);
  --text-brand-secondary: var(--accent-500);
  --text-brand-tertiary: var(--accent-400);
  --graphic-brand-primary: var(--accent-600);
  --graphic-brand-secondary: var(--accent-500);
  --graphic-brand-tertiary: var(--accent-400);
  --graphic-error-primary: var(--error-500);
  --graphic-error-secondary: var(--error-400);
  --graphic-error-tertiary: var(--error-300);
  --background-button-alternative-default: var(--neutrals-100);
  --background-button-alternative-hover: var(--white-overlay-90);
  --background-button-alternative-pressed: var(--white-overlay-80);
  --background-button-alternative-disabled: var(--neutrals-100);
  --text-alternative-secondary: var(--white-overlay-80);
  --text-alternative-tertiary: var(--white-overlay-40);
  --graphic-alternative-secondary: var(--white-overlay-80);
  --graphic-alternative-tertiary: var(--white-overlay-40);
  --overlay-secondary: var(--black-overlay-70);
  --overlay-tertiary: var(--black-overlay-30);
}